<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfSysDCAA.Files.Config.database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <InfSysDCAA.Files.Config.database>
            <setting name="database_name" serializeAs="String">
                <value />
            </setting>
            <setting name="database_host" serializeAs="String">
                <value />
            </setting>
            <setting name="database_user" serializeAs="String">
                <value />
            </setting>
            <setting name="database_password" serializeAs="String">
                <value />
            </setting>
        </InfSysDCAA.Files.Config.database>
    </userSettings>
</configuration>